<div class="flex-container">
<% @dogs.each do |dog| %>
<div class="card-product">
  <img src="<%= dog.img_url %>">
  <div class="card-product-infos">
    <h2><%= dog.name %></h2>

    <p><%= dog.description %></p>
    <div id="button"><button>Book Me!</button></div>>
  </div>
</div>
<% end %>

