<div class="container">

<h1><%= @dog.name %></h1>

<div class="dog-card-container">
    <div class="dog-card">
        <div class="img-container">
        <img src="<%= @dog.img_url %>" alt="">

        </div>
        <div class="text-container">
        <div class="button-container">
        <div class="description"><%= @dog.description %></div>
        <div class="btn"></div>
        </div>

        </div>
    </div>
    <div class="map-container">
    </div>
</div>

</div>
