<div style="background-image: url('<%= @booking.dog.img_url %>'); background-size: contain">
  <div class="container">
    <h1 class ="main-paragraph">Congratulations!!</h1>
    <p class ="secondary-paragraph">You booked</p>
    <h1><%= @booking.dog.name %></h1>
  </div>
</div>
