
<div class="banner">
  <div class="container">
    <div class="banner-content">
       <%= image_tag "chi-chi-logo.png", alt: "alttext", width: 300 %>
       <p>Rent a bitchy chi to feel happy about your miserable life </p>
       <div id="link"><%= link_to 'Start Renting Now', dogs_path, class: "btn btn-flat" %></div>
    </div>
  </div>
</div>
