<div class="banner">
  <div class="container">
    <h1>Rent a Chi-Chi</h1>
    <p>Rent a bitchy chi to feel happy about your miserable life </p>
    <div id="link"><%= link_to 'Start Renting Now', dogs_path %></div>
  </div>
</div>
