<div class="banner">
  <div class="container">
    <h1>Rent a Chi-Chi</h1>
    <p>CRent a bitchy chi to feel happy about your miserable life </p>
    <a class="btn btn-flat" href="#">Start Renting NOW</a>
  </div>
</div>
