
.banner {
  background-image: asset-url('dog.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: $text-color;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: black;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner a {
  background: $primary-color;
   color: white;
   border-radius:32px;
}

.banner-content {
  float: right;
  width: 400px;
  padding-left: 50px;
  padding-top: 120px;
  img {
    margin-bottom: 20px;

  }
}
