
.secondary-paragraph {

position: absolute;
width: 267px;
height: 50px;
left: 244px;
top: 1317px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;

color: #515050;
}
